body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*//////////// COLORS */
.white-color {
	color: white;
}

.back-w {
	background-color: #f7f7f7 !important; 
}
.color-w {
	color: #f7f7f7 !important;
}

/*yellow*/
.back-y {
	background-color: #ffd900 !important; 
}
.color-y {
	color: #ffd900 !important; 
}

/*blue*/
.back-blue {
	background-color: #00ccd6 !important;
}
.color-blue {
	color: #00ccd6 !important;
}

/*black-light*/
.back-black {
	background-color: #333333 !important; 
}
.color-black {
	color: #333333 !important; 
}

/*grey*/
.back-g {
	background-color: #9f9f9f !important; 
}
.color-g {
	color: #9f9f9f !important; 
}

/*grey-light*/
.back-g-light {
	background-color: #eeeeee !important; 
}
.color-g-light {
	color: #eeeeee !important; 
}

