body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {  
    padding: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
body a {
	color: inherit;
    text-decoration: none;
}
body a:hover, body a:focus {
	color: inherit;
    text-decoration: none;
}

.categories-links .category {
	display: block;
	padding: 7px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.categories-links .category:hover {
	text-decoration: none;
	background-color: #9f9f9f !important;
}


/*//////////// COLORS */
.white-color {
	color: white !important;
}
.back-white {
	background-color: white !important;
}

.back-w {
	background-color: #f7f7f7 !important; 
}
.color-w {
	color: #f7f7f7 !important;
}

/*yellow*/
.back-y {
	background-color: #ffd900 !important; 
}
.color-y {
	color: #ffd900 !important; 
}

/*blue*/
.back-blue {
	background-color: #00ccd6 !important;
}
.color-blue {
	color: #00ccd6 !important;
}

/*black-light*/
.back-black {
	background-color: #333333 !important; 
}
.color-black {
	color: #333333 !important; 
}

/*grey*/
.back-g {
	background-color: #9f9f9f !important; 
}
.color-g {
	color: #9f9f9f !important; 
}

/*grey-light*/
.back-g-light {
	background-color: #eeeeee !important; 
}
.color-g-light {
	color: #eeeeee !important; 
}

