.video-title .title {
	background: url("image/background/back-title.png");
}
.video-title .subtitle {
	background: url("image/background/back-subtitle.png");
}
.video-title .subtitle, .video-title .title {
	display: inline-block;
	padding: 0 30px 0 15px;
    background-repeat: no-repeat;
    background-size: cover;

}
.video-title {
	font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}

.list-video .video-teaser {
	margin-bottom: 15px;
}

.list-video .video-information {
	font-size: 0;
}

.list-video .first .img-teaser {
	max-width: 100%;
}
.list-video .first .description {
	width: 60%;
}
.list-video .first .detail {
	width: 39%;
}
.list-video .first .first-title {
	display: block;
	position: absolute;
    z-index: 3;
    bottom: 0;
    font-size: 22px;
    width: 100%;
    text-align: center;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.8);
}
.list-video .first .video-title {
	display: none;
}
.list-video .first-title {
	display: none;
}


.list-video .img-container {
	position: relative;
	display: inline-block;
    max-width: 31%;
}
.list-video .first .img-container {
	display: block;
	max-width: 100%;
}

.list-video .img-teaser {
    width: 100%;
    height: 100%;
    min-width: 200px;
    display: inline-block;
    vertical-align: middle;
}
.list-video .description {
	display: inline-block;
    vertical-align: middle;    
    width: 40%;
    margin: 0 0.5%;
    font-size: 14px;
    padding: 5px 3px;
    line-height: 17px;
}

.list-video .detail {
	display: inline-block;
	vertical-align: middle;
    width: 28%;
    font-size: 15px;
    text-align: center; 
}
.list-video .detail .category {
	font-weight: bold;
}
.list-video .detail .rekt {
	background: url("image/common/rekt.png");
    background-repeat: no-repeat;
    background-position: 93%;
    font-weight: 800;
    font-size: 50px;
}
.list-video .first .detail .rekt {
    background-position: 78%;	
}